<nav>
  <h1>Hi!</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="https://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/me.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>A Computer Science and Biology graduate; specialising in Data Pipelines, delivery, and analysis.</p>
    <p>Stuff:
        <br />
        <a href="http://transliterator.maakusii.com">Inuktitut Transliterator</a>
        <br />
        <a href="http://fplangmap.maakusii.com">Language Map</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
